/* =====================================Common Css start====================================== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
    display: inline-block;
 }
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img{
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

/* =====================================Common Css end====================================== */
/* =====================================Navbar start====================================== */
.navbar{
    background: radial-gradient(9917.17% 140.83% at 0.83% 0%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 100%;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: var(--Theme-Colors-Dark-text, #817382);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.navbar .navbar-nav .nav-item .active {
    color: #F95C19;
    transition: all;
    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #F95C19;
    transition-duration: .5s;
}

.navbar .navbar-nav{
    column-gap: 25px;
    align-items: center;
}
.navbar .navbar-nav .last{
    margin-left: 20px;
}
.navbar .navbar-nav .last i{
    padding: 14px;
    background: rgba(255, 237, 201, 1);
    border-radius: 6px;
}

.navbar .navbar-nav .last button{
    margin-left: 9px;
   padding: 12px 20px;
   color: var(--Theme-Colors-Danger, #F95C19);
   font-family: Oxanium;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   border-radius: 5px;
   background: var(--Soft-Colors-Danger-soft, #FFE4D9);
   border: 0;
}
/* =====================================Navbar end============================================ */
/* ====================================Banner_part start====================================== */
#Banner_part{
    padding-top: 170px;
    background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}
#Banner_part .container .row .text{
    margin-top: 100px;
}
#Banner_part .container .row .text h1{
    color: #261134;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

#Banner_part .container .row .text  span{
    color: #261134;
    font-family: Raleway;
    font-size: 49px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; 
}

#Banner_part .container .row .text  p{
    width: 330px;
    margin-top: 16px;
    color: #4D4D4D;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
#Banner_part .container .row .text button{
    margin-top: 41px;
    padding: 12px 20px;
    background: var(--Theme-Colors-Danger, #F95C19);
    color: var(--Theme-Colors-White, #FFF);
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 0;
}
#Banner_part .container .row .text button i{
   margin-left: 10px;
}
#Banner_part .container .row .banner_img img{
    width: 100%;
}
/* =====================================Banner_part end====================================== */
/* =====================================Servise_part  start=================================== */
#Service_part {
    padding-top: 168px;
    background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}
#Service_part .container{
    padding-bottom: 150px;
}
#Service_part .container .title{
    text-align: center;
}
#Service_part .container .title h2{
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#Service_part .container .title h3{
    color: var(--Gray-1100, #11111D);
    text-align: center;
    font-family: Raleway;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#Service_part .container .row{
    margin-top: 86px;
}
#Service_part .container .row .box{
    padding: 67px 61px 49px 60px;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: var(--Theme-Colors-White, #FFF);
    box-shadow: 0px 0px 20px 5px rgba(63, 61, 86, 0.05);
    text-align: center;
}
#Service_part .container .row .box h2{
    margin-top: 29px;
    color: var(--Gray-800, #464558);
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#Service_part .container .row .box  p{
    margin-top:32px;
    width: 301;
    height: 95px;
    flex-shrink: 0;
    color: var(--Gray-600, #7B7A8B);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
#Service_part .container .row .box  ol{
    color: var(--Gray-600, #7B7A8B);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
     text-align: start;
     
}

#Service_part .container .row .box  button{
    margin-top: 60px;
    padding: 12px 96px;
    border-radius: 5px;
    border: 1px solid var(--Theme-Colors-Danger, #F95C19);
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#Service_part .container .row .box  button:hover{
    background:var(--Theme-Colors-Danger, #F95C19) ;
    color: #FFF;
    font-family: Oxanium;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* =====================================Servise_part  end====================================== */
/* =====================================About_part  start====================================== */
#about_part {
   padding-top:184px;
   background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}

#about_part .container .row {
     text-align: center;
     margin-bottom: 156px;
    
}
#about_part .container .row .box_two {
    margin-right: 65px;
}

.box_three {
    margin-right: 53px;
}
#about_part .container .row h2{
    margin-top: 28px;
    color: var(--Theme-Colors-Danger, #F95C19);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;  
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;   
}
#about_part .container .row p{
    margin-top: 6px;
    color: var(--Gray-800, #464558);
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
#about_part .container .row .box_one h2 {
    margin-top: 8px ;
}

/* ====================================About_part  end====================================== */
/* ====================================testimonial_part  start============================== */
#testimonial{
    padding-top: 182px;
    background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}

#testimonial .container .top .img{
        margin-left: 296px;
}
#testimonial .container .top h2{
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
#testimonial .container .top h3{
    color: var(--Gray-1100, #11111D);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    text-align: center;
}
#testimonial .container .bottom .box{
     margin-top: 20px;
     padding: 40px;
     border-radius: 16px;
     background: var(--Theme-Colors-White, #FFF);
     box-shadow: 0px 0px 20px 5px rgba(0, 19, 119, 0.05);
}
#testimonial .container .bottom .row .box{
    max-width: 872px;
    height: 304px;
}
#testimonial .container .bottom .row .box h2{
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
#testimonial .container .bottom .row .box p{
    margin-top: 11px;
    width: 799.39px;
    color: var(--Gray-800, #464558);  
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
}
#testimonial .container .bottom .row .box .footer{
    margin-top: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


#testimonial .container .bottom .row .box .footer .right{
    display: flex;
    column-gap: 14px;
}
#testimonial .container .bottom .row .box .footer .left h5{
    color: var(--Gray-1000, #222132);
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
#testimonial .container .bottom{
    padding-left: 220px;
    padding-right: 220px;
}
#testimonial .container .bottom .box{
     align-items: center;
}

#testimonial .container .bottom .row .box .footer .right img{
    border-radius: 100%;
}  

/* ====================================testimonial_part  end====================================== */
/* ====================================Contact_us_part  start====================================== */
#Contact_us{
    padding-top:266px;
    background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}
#Contact_us .container .from{
    max-width: 870px;
    margin: 0 auto;
 
}
#Contact_us .container .row .left h2{
    margin-top: 36px;
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Contact_us .container .row .left h3{
    margin-top: 20px;
    width: 412.869px;
    color: var(--Gray-1000, #222132);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
}

#Contact_us .container .row .left h4{
    margin-top: 10px;
    width: 352px;
    color: var(--Gray-500, #9291A1);
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
#Contact_us .container .row .right form {
    margin-top: 40px;
}
#Contact_us .container .row .right form input {
     margin-top: 15px;
     padding: 15px  200px 15px 20px;
     border-radius: 8px;
     border: 2px solid #C5C5D2;
     background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}
#Contact_us .container .row .right form .message input {
     margin-top: 15px;
     padding: 15px  200px 118px 20px;
     border-radius: 8px;
     border: 2px solid #C5C5D2;
     background: var(--Soft-Colors-Background, linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%));
}
#Contact_us .container .row .right button {
  margin-top: 54px;
  padding: 12px 121px;
  color: var(--Theme-Colors-White, #FFF);
  text-align: center;
  font-family: Oxanium;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Theme-Colors-Danger, #F95C19);
  border-radius: 5px;  
  display: flex;
  column-gap: 10px;
  border: 0;
}

#Contact_us .container .map{
    margin-top: 200px;
   
}
#Contact_us .container .map .title{
    text-align: center;
   
}
#Contact_us .container .map .main{
    margin-top: 85px;
    
}
#Contact_us .container h2{
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#Contact_us .container h3{
    color: var(--Gray-1000, #222132);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; 
}

#Contact_us .container .map .main .text{
    margin-left: 24px;
    padding: 81px 126px 88px 85px;
    background: white;

}
#Contact_us .container .maps{
    width:760px;
    height: 438px;

}


#Contact_us .container .map .title h2 {
    color: var(--Theme-Colors-Danger, #F95C19);
    text-align: center;
    font-family: Oxanium;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#Contact_us .container .map .title h3 {
    color: var(--Gray-1000, #222132);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; 
}
#Contact_us .container .map .main .text h2 {
    color: var(--Gray-800, #464558);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
#Contact_us .container .map .main .text .top h3{
    margin-top: 39px;
    color: var(--Gray-700, #5C5B6C);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

#Contact_us .container .map .main .text .top h4{
    margin-top: 18px;
    width: 285px;
    color: var(--Gray-700, #5C5B6C);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
#Contact_us .container .map .main .text .top h4 span{
    margin-left: 34px;
 
}

#Contact_us .container .map .main .text .top h5{
    margin-top: 15px;
    color: var(--Gray-700, #5C5B6C);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
#Contact_us .container .map .main .text .top img{
        margin-right: 14px;
}

#Contact_us .container .map .main .text .bottom .icon{
    margin-top: 51px;
}

#Contact_us .container .map .main .text .bottom .icon i{
   color: var(--Theme-Colors-Danger, #F95C19);
    width: 40px;
    height: 28px;
    flex-shrink: 0;
    margin-right: 8px;
}

#Contact_us .container .map .call {
    margin-top: 55px;
    text-align: center;
}
#Contact_us .container .map .call button {
    margin-bottom: 204px;
    background-color:  var(--Theme-Colors-Danger, #F95C19);
     padding: 20px 113px;
     border: 0;
     border-radius: 5px;    
}
#Contact_us .container .map .call button a{
     color: var(--Theme-Colors-White, #FFF);
     font-family: Oxanium;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
    
}
#Contact_us .container .map .call button i {
    margin-right: 8px;
}
/* ====================================Contact_us_part  end====================================== */
/* ====================================footer_part start====================================== */
footer {
    padding-top: 183px;
    padding-bottom: 56px;
    background: var(--Gray-1000, #222132);
}

footer .container .top .row {
   display: flex;
   justify-content: space-between;
}
footer .container .top .row .left h2 {
    color: var(--Theme-Colors-White, #FFF);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; 
}
footer .container .top .row .left h3 {
    margin-top: 20px;
    width: 501px;
    color: var(--Gray-300, #C5C5D2);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
}
footer .container .top .row .right h6 {
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer .container .top .row .right .form input {
     margin-top: 15px;
     padding: 15px 170px 15px 18px;
     border: 0;
     color: var(--Gray-600, #7B7A8B);
     font-family: Raleway;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 120%; 
     border-radius: 5px;
}
footer .container .top .row .right .form button {
     margin-left: 10px;
     padding: 12px 20px;
     background:var(--Theme-Colors-Danger, #F95C19) ;
     color: var(--Theme-Colors-White, #FFF);
     text-align: center;
     font-family: Oxanium;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     border: 0;
     border-radius: 5px;
}
footer .container .bottom {
    margin-top: 50px;
}
footer .container .bottom .row p{
    width: 190px;
    color: var(--Gray-500, #9291A1);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
}
footer .container .bottom .row h2{
    margin-bottom: 12px;
    color: var(--Theme-Colors-White, #FFF);
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer .container .bottom .row .right{
    display: flex;
   justify-content: space-between;
}
footer .container .bottom .row ul li a{
    margin-top: 10px;
    color: var(--Gray-500, #9291A1);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
}


.copyright{
  padding: 30px 0;
  background: var(--Gray-1000, #222132);
  border-top: 2px solid red;
  display: flex;
  justify-content: space-between;

}
.copyright h2{
    color: var(--Gray-200, #DBDBE9);
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.copyright h3{
    color: #E0DEDE;
    text-align: right;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.copyright h3 span{
    color: #F95C19;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}












/* ====================================footer_part  end====================================== */